extends layout

block content
 h1=  title
 p Welcome to #{title}
 button(type='button',class='btn btn-primary',onclick='doBump()') press me
 br
 div#bump Bump the count 
 br
 script.
     var count=0;
     var bump=1;
     function doBump(){
     count=count+bump;
     bump=bump+1;
     print=document.getElementById("bump");
     print.innerHTML='Count '+count+' with bump '+bump;}
 